.vscode
.fleet

.DS_Store

*.lockb
*.log

dist

# Version files
src/version.ts

node_modules
.yarn

ios/build/
ios/DerivedData/
ios/Pods/

.gradle
.idea
*.apk
*.ap_
android/bin/
android/gen/
android/out/
android/gradlew*
android/gradle/
android/local.properties
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

buck-out/
\.buckd/
*.keystore
!debug.keystore


.env

*.tgz

.adapty-credentials.json

.tsbuildinfo
.jest/

# Docs
docs
